h1 {
  color: cornflowerblue;
}
h2 {
  color: crimson;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
li {
  font-family: "Courier New", Courier, monospace;
}
#banner {
  padding-top: 5px;
  padding-bottom: 5px;
}
#banner p {
  margin: 0;
}
#nav,
nav {
  background-color: lightgray;
  color: aliceblue;
  padding: 10px;
  text-align: center;
}



article {
  margin-bottom: 50px;
}
.logo {
  width: 50px;
  height: 50px;
}
.Differentlookingtext {
  font-family: "Lucida Handwriting", cursive;
  font-size: larger;
  font-weight: bold;
}
.weirdcolor {
  color: darkmagenta;
}
